@import "background.css";
.container {
    width: 80%;
    margin: 0 auto;
}

#requete-section {
    border-top: 3px solid #3498db;
}
#requete-section textarea{
    width: 100%;
}
#requete-section input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 2rem;
}

#creation-section {
    border-top: 3px solid #2ecc71;
}
#creation-section form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#suppression-section {
    border-top: 3px solid #e74c3c;
}

#droits-section {
    border-top: 3px solid #f2ff00;
}

